<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Drinks App</title>
  </head>
  <body>
    <h1>fooBar()</h1>
    <h2><%= food.name %></h2>
    <img src=<%= food.image + ".jpg"%>>
    <h3><%= food.price %></h3>
    <a href="/foods">back to Home</a>
    The <%= food.name%> is <%=food.price %>


<style type="text/css">
  body {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 142, 224);
  }
</style>
  </body>